* {
    box-sizing: initial;
    margin: 0;
}
nav{
    width: 100%;
    height: 100px;
    background-color:#D2531D;
}

nav p{
    font-family: "East Sea Dokdo", cursive;
    color:rgb(0, 0, 0);
    font-size: 45px;
    line-height: 80px;
    float: left;
    padding: 0px 20px; 
}

nav ul {
    float: left; 
}

nav ul li {
    float: left; 
    list-style:none; 
    position: relative;
}

nav ul li a{
    display: block;
    font-family: 'Lexend', sans-serif;
    color:rgb(0, 0, 0);
    font-size: 20px;
    padding: 36px  30px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
position: absolute;
background-color: #D2531D;
padding: 5px ;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li {
width: 140px;
    }

nav ul li ul li a{
padding: 8px 14px;

}

nav ul li ul li a:hover{
background-color: rgb(224, 170, 107);    
    }

.header { 
       background: url('Rectangle36.png');
       background-position: top;
       background-size: 100%;
       width: 100%;
       position: center;
       line-height: 170px;
       display: flex;

} 
   
.header-left { 
    font-family: East Sea Dokdo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 20pt;

}
   
.header-middle { 

    font-family: Knewave;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin-left: 150pt;
    
    color: #FFFFFF;
    
}


.website-header{

    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 58px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #000000;
    padding-bottom: 5pt;
    margin-left: 35px;
}

.website-text{
 
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.08em;
    padding-bottom: 25pt;
    margin-left: 35px;
    
    color: #000000;
}

.contact-header{

    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 58px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 20pt;
    padding-bottom: 5pt;
    margin-left: 35px;

    color: #000000;
}

.contact-text{
 
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.08em;
    padding-bottom: 60pt;
    margin-left: 35px;

    
    color: #000000;
}

.footer { 
    /* orange box */
       background: url('orange.png');
       background-position: bottom;
       background-size: 100%;
       width: 100%;
       position: center;
    /* header Connect with Us */
   
   }
   
   .header-d { 
       padding-top: 50pt;
       padding-bottom: 50pt;
       font-family: Knewave;
       font-style: normal;
       font-weight: normal;
       font-size: 40px;
       line-height: 109px;
       text-align: center;
       
       color: #FFFFFF;
   }
   
   .contact-info { 
       font-family: 'Jost', sans-serif;
       font-style: normal;
       font-weight: 500;
       font-size: 20px;
       line-height: 58px;
       text-align: center;
       color: #FFFFFF;
       padding-bottom: 20pt;
   }